@model  _05_VistaAControlador_MVC.Models.ViewModels.clsPersonaEnListadoDepartamentos

@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Editar Datos Personales</title>
</head>
<body>

	@using (Html.BeginForm("Editar", "Home", FormMethod.Post))
	{
		@Html.ValidationSummary(true);

		<p>Nombre: <input type="text" name="nombre" value="@Model.nombre" /></p>
		<p>Apellido: @Html.TextBox("apellidos")</p>
		<p>Id: @Html.TextBoxFor(m => m.idPersona)</p>
		<p>Direccion: @Html.TextBoxFor(m => m.direccion)</p>
		<p>Telefono: @Html.TextBoxFor(m => m.telefono)</p>
		<p>Fecha de Nacimiento: @Html.TextBoxFor(m => m.fechNacimiento)</p>
		<p>
			@Html.DropDownListFor(m => m.listadoDepartamentos,
			new SelectList(Model.listadoDepartamentos))	
		</p>
		<p><input type="submit" value="Enviar" /></p>
	}

</body>
</html>

