
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Visor Persona</title>
</head>
<body>
	<h2>Home</h2>
	<div>
		<p>Hola @ViewData["Saludo"], la Fecha Actual es:  <b>@ViewBag.Fecha</b></p>
		<p><b>-----------------------------------------------------------------------------------------</b></p>
		<p>Sus Datos son:</p>
		<p><b>Id:</b> @Model.idPersona</p>
		<p><b>Nombre:</b> @Model.nombre</p>
		<p><b>Apellidos:</b> @Model.apellidos</p>
		<p><b>Fecha de Nacimiento:</b> @Model.fechNacimiento</p>
		<p><b>Direccion:</b> @Model.direccion</p>
		<p><b>Telefono:</b> @Model.telefono</p>
		<p><b>@Html.ActionLink("Ver listado de Personas", "Listado", "Home")</b></p>

	</div>
</body>
</html>
